/* add home page styles here */

#carrot {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    background-color: lightgrey;
}

#tomato {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    background-color: lightgreen;
}

#potato {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    background-color: lightcoral;
}

#beet {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
    background-color: lightblue;
}

.size {
    max-width: 100px;
    max-height: 100px;
}

.text
    {width: 200px;
    align-items: center;
}

.sizing {display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;}