/* add home page styles here */

#carrot {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

#tomato {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

#potato {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

#beet {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: center;
}

.size {
    max-width: 100px;
    max-height: 100px;
    align-items: right;
}

.text
    {width: 200px;
    align-items: center;
}